---
import "../style/global.css";
const { variant, step1, step2, step3, step4 } = Astro.props;
---

<article data-variant={variant}>
  <div class="full_bar">
    <div>
      <p class="overskrift">{step1}</p>
      <div class="bar1">
        <div class="ball1">
          <p>1</p>
        </div>
        <div class="line1"></div>
      </div>
    </div>

    <div>
      <p class="overskrift">{step2}</p>
      <div class="bar2">
        <div class="ball2">
          <p>2</p>
        </div>
        <div class="line2"></div>
      </div>
    </div>
    <div>
      <p class="overskrift">{step3}</p>
      <div class="bar3">
        <div class="ball3">
          <p>3</p>
        </div>
        <div class="line3"></div>
      </div>
    </div>
    <div>
      <p class="overskrift">{step4}</p>
      <div class="bar4">
        <div class="ball4">
          <p>4</p>
        </div>
      </div>
    </div>
  </div>
</article>

<style>
  p {
    margin-block: 0;
  }
  [class^="ball"] {
    display: grid;
    place-content: center;
  }
  .overskrift {
    font-size: var(--abonnement-text-info);
    font-family: var(--font-body);
    font-weight: var(--font-weight-bold);
    align-items: center;
  }
  .full_bar {
    display: flex;

    place-items: center;
  }
  .bar1,
  .bar2,
  .bar3,
  .bar4 {
    display: flex;

    place-items: center;
  }

  .ball1,
  .ball2,
  .ball3,
  .ball4 {
    width: 20px;
    height: 20px;
    background-color: var(--color-abonnement-bar-disabled);
    border-radius: 100%;
    font-family: var(--font-body);
    font-size: var(--progressbar-number);

    color: var(--color-abonnement-bar-text);
  }
  .ball1 {
    background-color: var(--color-abonnement-bar-active);
    z-index: 1;
  }

  .line1,
  .line2,
  .line3 {
    width: 60px;
    height: 0px;
    border: solid 2px var(--color-abonnement-bar-disabled);
    margin-left: -3px;
  }
  /* step 2 */
  [data-variant="progress_bar_step2"] .ball2 {
    background-color: var(--color-abonnement-bar-active);
    z-index: 2;
  }
  [data-variant="progress_bar_step2"] .line1 {
    border: solid 2px var(--color-abonnement-bar-active);
  }
  /* step 3 */
  [data-variant="progress_bar_step3"] .ball2,
  [data-variant="progress_bar_step3"] .ball3 {
    background-color: var(--color-abonnement-bar-active);
    z-index: 3;
  }
  [data-variant="progress_bar_step3"] .line1,
  [data-variant="progress_bar_step3"] .line2 {
    border: solid 2px var(--color-abonnement-bar-active);
  }
  /* step 4 */
  [data-variant="progress_bar_step4"] .ball2,
  [data-variant="progress_bar_step4"] .ball3,
  [data-variant="progress_bar_step4"] .ball4 {
    background-color: var(--color-abonnement-bar-active);
    z-index: 3;
  }
  [data-variant="progress_bar_step4"] .line1,
  [data-variant="progress_bar_step4"] .line2,
  [data-variant="progress_bar_step4"] .line3 {
    border: solid 2px var(--color-abonnement-bar-active);
  }

  /* desktop */

  @media (min-width: 900px) {
    .ball1,
    .ball2,
    .ball3,
    .ball4 {
      width: 50px;
      height: 50px;
      background-color: var(--color-abonnement-bar-disabled);
      border-radius: 100%;
      font-family: var(--font-body);
      font-size: var(--h4-desktop);

      color: var(--color-abonnement-bar-text);
    }
    .ball1 {
      background-color: var(--color-abonnement-bar-active);
      z-index: 1;
    }

    .line1,
    .line2,
    .line3 {
      width: 180px;
      height: 0px;
      border: 5px solid var(--color-abonnement-bar-disabled);
    }
    [data-variant="progress_bar_step2"] .line1,
    [data-variant="progress_bar_step3"] .line1,
    [data-variant="progress_bar_step3"] .line2,
    [data-variant="progress_bar_step4"] .line1,
    [data-variant="progress_bar_step4"] .line2,
    [data-variant="progress_bar_step4"] .line3 {
      width: 180px;
      height: 0px;
      border: 5px solid var(--color-abonnement-bar-active);
    }
  }
</style>
